*{
    

    background-color: black;
}

.languagescontainer{
    width: 600px;
    height: 500px;
    text-align: center;
    
    

}

.languageSection a{
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px;
}




.container .div-text{
    position: absolute ;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    color: white;
}


.container .div-img{
    position: absolute ;
    top: 0;
  right: 0;
  background-color: transparent;
  
 

}

.container .div-img img{
    background-color: transparent;
    
    
}


.container .div-text h4{
    font-size: 36px;
    margin: 15px;

}
.container .div-text h1{
    font-size: 64px;
    color: darkblue;
    margin: 25px;
}
.container .div-text span{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}
.container .div-text p{
    font-size: 22px;
    line-height: 2;
    margin: 20px 0 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container .btnWP{
    padding: 15px 30px;
    
    color: white;
    background-color: green;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    
   
}


.container .btnCall{
    padding: 15px 30px;
    
    color: black;
    background-color: white;
    font-size: 24px;
    border-radius: 30px;
    cursor: pointer;
    
   
}

/* Whatsapp simgesinin rengini değiştir */
.btnWP .fa-whatsapp {
    color: black;
    background-color: green;
    font-size: 30px;
  }
  
  /* Telefon simgesinin arka planını değiştir */
  .btnCall .fa-phone {
    background-color: white;
    color: black;
  }

  @media  (max-width: 1050px) {

    .container{
        flex-direction: column;
    }
    .container .div-text h4,
    .container .div-text span,
    .container .div-text p{
        font-size: 0.8rem; 
        
    }
    .container .div-img{

        width: 100%;
        justify-content: center;
    }
    .container .div-img img{
        width: 20%;
        
        
        
    }
    .languagescontainer,
    .languageSection a{
        font-size: 0.9rem;
    }

    .container .btnWP{
        font-size: 0.9rem;
        
        
        
    }
    .container .btnCall{
        font-size: 0.9rem;
    }










  }

